th, td{
    width: 30px;
}

.game-board{
    display: grid;
    justify-content: center;
}

.player-letters{
    display: flex;
    justify-content: space-around;
    background-color: rgb(12, 56, 14);
    border-radius: 5px;
}

.players-scores{
    display: flex;
    justify-content: space-between;
}

table{
    margin-bottom: 20px;
    margin-top: 20px;
}

thead{
    text-align: center;
}