.informations{
    font-size: 15px;
    height: max-content;
    background-color: rgb(243, 243, 194);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    width: 25%;
    
}

.informations li{
list-style-type: square;
}